streamlit
pandas
matplotlib
seaborn
plotly
SQLAlchemy
scipy==1.11.4
statsmodels==0.14.1
numpy>=1.24.0,<2.0.0
scikit-learn
optuna
folium
streamlit-folium
psycopg2-binary
xlsxwriter
skl2onnx
onnx
onnxruntime
pygwalker